<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dignityhealth.myhome">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".app.MyHomeApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".app.NavigationActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".features.login.LoginActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".features.enrollment.EnrollmentActivity"
            android:label="New Enrollment"
            android:launchMode="singleTop"
            android:parentActivityName=".features.login.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".features.enrollment.sq.SQActivity"
            android:label="Security Question"
            android:launchMode="singleTop"
            android:parentActivityName=".features.enrollment.sq.SQListActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".features.enrollment.sq.SQListActivity"
            android:label="Security Question"
            android:launchMode="singleTop"
            android:parentActivityName=".features.enrollment.EnrollmentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".features.tos.TosActivity"
            android:label="Terms Of Service"
            android:launchMode="singleTop"
            android:parentActivityName=".features.enrollment.sq.SQActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".features.login.forgot.password.ForgotPasswordActivity"
            android:label="Forgot Password"
            android:launchMode="singleTop"
            android:parentActivityName=".features.login.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".features.contact.ContactUsActivity"
            android:label="Contact Us"
            android:launchMode="singleTop"
            android:parentActivityName=".features.login.LoginActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.OptionsActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:parentActivityName=".app.NavigationActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="net.hockeyapp.android.appIdentifier"
            android:value="${HOCKEYAPP_APP_ID}" />
    </application>

</manifest>